doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title CourseFlow Developer
  body
    .menubar
      div
        ul
          li
            button.button-two("='', href='/user/logout', style='float: right; padding-right: 20px;')
              span Log out
      br
      br
    div
      .panel
        h1(style='text-align: center') CourseFlow
        form(action='http://127.0.0.1:7744/login')
          // method="post" name="login">
          span
            .formsection
              label(for='username') Username
              input#username(type='text', name='username')
          span
            .formsection
              label(for='password') Password
              input#password(type='password', name='password')
          br
          input(type='submit', value='Log In')