doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title CourseFlow Developer
    style 
      include style.css
  body
    div
      .panel
        h1(style='text-align: center') CourseFlow
        form(action='http://127.0.0.1:3000/login')
          // method="post" name="login">
          span
            .formsection
              label(for='username') Username
              input#username(type='text', name='username')
          span
            .formsection
              label(for='password') Password
              input#password(type='password', name='password')
          br
          input(type='submit', value='Log In')